
    {% extends 'dummy.html' %}
    {% block title %}
     <title>change password</title>
    {% endblock %}

{% block body_block %}
    <center>
        <h1>Change Password page</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="cp">ChangePassword</label>
            <input type="password" name="cp" id="cp">
            <br>
            <br>
            <input type="submit" value="ChangePassword" class="bg-danger">
        </form>

    </center>
{% endblock %}

