{% extends 'base_auth.html' %}

{% block title %}
<title>Forgot Password</title>
{% endblock %}

{% block body_block %}

<div class="auth-box">
    <h2>Forgot Password 🔐</h2>

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="username" placeholder="Enter Username" required>
        <input type="email" name="email" placeholder="Enter Registered Email" required>
        <button type="submit">Reset Password</button>
    </form>

    <a class="auth-link" href="{% url 'user_login' %}">Back to Login</a>
</div>

{% endblock %}