<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>insert Dept</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="topic_name">topic name</label>
            <select name="topic_name" id="topic_name">
                {% for To in QLTO %}
                <option value="{{To.topic_name}}">{{To.topic_name}}</option>
                {% endfor %}
            </select>
            <br><br>
            
            <label for="name">name</label>
            <input type="text" name="url" id="url">
            <br><br>
            <label for="email">email</label>
            <input type="email" name="email" id="email">
            <br><br>
            <input type="submit">
        </form>
    </center>
    
</body>
</html>