<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1>insert Dept</h1>
        <form method="POST">
            {% csrf_token %}
            <label for="dno">deptno</label>
            <input type="number" name="dno" id="dno">
            <br><br>
            <label for="dn">dname</label>
            <input type="text" name="dn" id="dn">
            <br><br>
            <label for="dl">dloc</label>
            <input type="text" name="dl" id="dl">
            <br><br>
            <input type="submit">
        </form>
    </center>
    
</body>
</html>